.navigation_bar {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 39.5px 75px;
  min-width: auto;
}

.version_type {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  padding: 0px 1px 0px 1px;
  margin-left: 27px;
  background: #0074AD;
  border-radius: 12px;
  width: 133px;
  height: 34px;
  min-width: 100%;
  letter-spacing: 0.1em;
}

.link {
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  align-items: center;
  text-align: center;
}

.right_nav_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.left_nav_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 85px;
}

.nav_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 14.75px;
}

.logo {
  display: inline-flex;
  align-items: center;
  height: 85px;
  padding-right: 27px;
}

.location {
  display: inline-flex;
  align-items: center;
  border-left: 1px solid #AEAEAE;
  height: 72.01px;
  color: #1E9CD6;
  padding-left: 33px;
  margin-left: 33px;
}

.divider {
  border-left: 1px solid #AEAEAE;
  height: 72.01px;
  display: inline-flex;
  align-items: center;
}

.pic {
    filter: invert(100%);
}