.navigation_bar {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 21px;
}

.version_type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0px 1px;
    gap: 5px;
    margin-left: 27px;
    background: #1E9CD6;
    border-radius: 50px;   
    width: 154px;
    height: 34px;
}

.link {
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    align-items: center;
    text-align: center;

}

.right_nav_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 46px;
    padding-top: 46px;
    padding-right:75px;
    gap: 21px;

}

.left_nav_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-bottom: 41px;
    padding-top: 41px;
    padding-left:75px;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 0px;
    gap: 10px;
    align-items: center;
    padding-inline: 34px;
}

.divider { 
    width: 72.01px;
    height: 0px;

    border: 1px solid #000000;
    transform: rotate(90deg);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo {
    border-right: 1px solid #000000;
    height: 72.01px;
    padding-right: 27px;
    
}

.location {
    display: inline-flex;
    align-items: center;
    border-left: 1px solid #000000;
    height: 72.01px;
    color: #1E9CD6;
    padding-left: 33px;
    margin-left: 23px; 
}